<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/login.css">
    <link rel="stylesheet" href="Style/menu.css">
    <title>Login</title>
</head>

<body>
    <nav class="page__menu page__custom-settings menu">
        <ul class="menu__list r-list">
            <img class="img" src="Images/5366461-logotipo-farmacia-farmacia-logotipo-vetor-removebg-preview.png" alt="">
            <li class="menu__group"><a href="Idex.html" class="menu__link r-link text-underlined">Início</a></li>
            <li class="menu__group"><a href="Produtos.html" class="menu__link r-link text-underlined">Produtos</a></li>
            <li class="menu__group"><a href="Promocoes.html" class="menu__link r-link text-underlined">Promoções</a>
            </li>
            <li class="menu__group"><a href="Info.html" class="menu__link r-link text-underlined">Quem somos?</a></li>
            <li class="menu__group"><a href="Contato.html" class="menu__link r-link text-underlined">Contato</a></li>
            <li class="menu__group"><a href="Login.html" class="menu__link r-link text-underlined">Login</a></li>
        </ul>
    </nav>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
            <div class="loginbackground box-background--white padding-top--64">
            </div>
            <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                </div>
                <div class="formbg-outer">
                    <div class="formbg">
                        <div class="formbg-inner padding-horizontal--48">
                            <span class="padding-bottom--15">Entre na sua conta</span>
                            <form id="stripe-login">
                                <div class="field padding-bottom--24">
                                    <label for="email">Email</label>
                                    <input type="email" name="email">
                                </div>
                                <div class="field padding-bottom--24">
                                    <div class="grid--50-50">
                                        <label for="password">Senha</label>
                                    </div>
                                    <input type="password" name="password">
                                </div>
                                <div class="field padding-bottom--24">
                                    <input type="submit" name="submit" value="Entrar">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer-link padding-top--24">
                        <span>Não possui uma conta? <a href="Cadastro.html">Cadastre-se</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>