<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Style/menu.css" />
    <title>Document</title>
</head>

<body>
        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <img class="img" src="Images/5366461-logotipo-farmacia-farmacia-logotipo-vetor-removebg-preview.png" alt="">
            <li class="menu__group"><a href="Idex.html" class="menu__link r-link text-underlined">Início</a></li>
            <li class="menu__group"><a href="Produtos.html" class="menu__link r-link text-underlined">Produtos</a></li>
            <li class="menu__group"><a href="Promocoes.html" class="menu__link r-link text-underlined">Promoções</a></li>
            <li class="menu__group"><a href="Info.html" class="menu__link r-link text-underlined">Quem somos?</a></li>
            <li class="menu__group"><a href="Contato.html" class="menu__link r-link text-underlined">Contato</a></li>
            <li class="menu__group"><a href="Login.html" class="menu__link r-link text-underlined">Login</a></li>
          </ul>
        </nav> 
</body>

</html>